:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(--mat-sys-outline-variant);
  background: var(--mat-sys-surface-container);
  border-radius: 0.75rem;
}

.prompt-message {
  color: var(--mat-sys-on-surface-variant);
  font: var(--mat-sys-body-medium);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .form-actions {
    display: flex;
  }
}

form mat-form-field {
  min-width: 30rem;
}

.filter-field {
  width: 100%;
}

.table-wrapper {
  overflow-x: auto;
  margin-bottom: 1rem;
}

td.mat-column-actions,
th.mat-column-actions {
  background: var(--mat-sys-surface-container);
}

.mat-column-name {
  max-width: 22ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-divider {
  margin: 0.5rem 0;
}