:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(--mat-sys-outline-variant);
  box-sizing: border-box;
  background: var(--mat-sys-surface-container);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .form-actions {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;

    :first-child {
      margin-right: 0.5rem;
    }
  }
}

mat-form-field {
  min-width: 27rem;
}

.permissions-fieldset {
  border: 1px solid var(--mat-sys-outline-variant);
  box-sizing: border-box;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.permissions-fieldset legend {
  font: var(--mat-sys-label-medium);
  padding: 0 0.25rem;
}