:host {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card mat-card-header {
  margin-bottom: 1rem;
}

mat-slide-toggle {
  margin-bottom: 1rem;
}

.login-card {
  min-width: 20rem;
}

.full-width {
  display: block;
  width: 100%;
}