:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(--mat-sys-outline-variant);
  box-sizing: border-box;
  background: var(--mat-sys-surface-container);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.edit-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

h5 {
  margin: 1rem 0 0.5rem;
  font: var(--mat-sys-label-large);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;

  .form-actions {
    display: flex;
  }
}

mat-form-field {
  min-width: 27rem;
}

.groups-fieldset {
  border: 1px solid var(--mat-sys-outline-variant);
  box-sizing: border-box;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.groups-fieldset legend {
  font: var(--mat-sys-label-medium);
  padding: 0 0.25rem;
}

.success-message {
  color: var(--mat-sys-primary);
  font: var(--mat-sys-body-medium);
  margin-bottom: 0.5rem;
}