:host {
  display: flex;
  position: relative;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.menu-button {
  margin-bottom: 1rem
}

mat-action-list {
  >* {
    margin: 0.7rem 0rem;
  }
}

.chevron {
  transition: transform 150ms ease;
}

.chevron.expanded {
  transform: rotate(90deg);
}

.oas-submenu>* {
  padding-left: 32px;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;

  mat-sidenav {
    height: fit-content;
    padding: 0.25rem;
    border-radius: 0.75rem;
    border: 1px solid var(--mat-sys-outline-variant);
    background: var(--mat-sys-surface-container);
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: row;

    app-error-display {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  mat-sidenav-content>* {
    margin-left: 1rem;
  }

  mat-sidenav-content app-flow-pipeline {
    flex: 1;
  }
}