<button class="menu-button" matIconButton (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
</button>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-action-list>
      <button mat-list-item (click)="toggleOASSection()">
        <span matListItemTitle>OAS</span>
        @if (oasBackends().length > 0) {
        <div matListItemMeta>
          <mat-icon class="chevron" [class.expanded]="oasExpanded()">chevron_right</mat-icon>
        </div>
        }
      </button>
      @if (oasExpanded()) {
      <div class="oas-submenu">
        @for (backend of oasBackends(); track backend) {
        <button mat-list-item (click)="selectOASBackend(backend)">
          {{ backend }}
        </button>
        }
      </div>
      }
      <button mat-list-item (click)="onDebugClick()">Debug</button>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content tabindex="-1">
    @if (selectedOASBackend(); as backend) {
    <app-oas [backend]="backend" (closed)="closeOAS()" />
    }

    @if (debugOpen()) {
    <app-debug [backends]="routerBackends()" (closed)="closeDebug()" (callSelected)="onDebugCallSelected($event)" />
    }

    <app-flow-pipeline [flowMetas]="flowResource.value() ?? null" [isLoading]="flowResource.isLoading()"
      [hasError]="!!flowResource.error()" [selectedCall]="selectedDebugCall()" />

  </mat-sidenav-content>
</mat-sidenav-container>